In [2]:
# Data manipulation
import pandas as pd
import numpy as np

# Data Viz
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# More Data Preprocessing & Machine Learning
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

## Import parcels data

In [ ]:
df0 = pd.read_csv('https://dev.km2.ai/public/parcels_last.csv', low_memory=False)

In [ ]:
df0.shape

(2485732, 55)

In [ ]:
# initial cleaning
df = df0[df0['YearBuilt']>=1900]
df = df[df['GeneralUseType']=='Residential']
df = df[df['zip2'].notna()]
df = df[df['TotalValue']>0]
df = df[df['SQFTmain']>0]

In [ ]:
# calculate price per square foot for properties which have non-zero prices and sizes
df['price_sf'] = df['TotalValue'] / df['SQFTmain']

In [ ]:
df = df.drop(['geo','Location1','ParcelBoundaryDescription','UnitNo','StreetName','HouseNo',
              'HouseFraction','StreetDirection','SpecificUseDetail1','SpecificUseDetail2'], axis = 1)

In [ ]:
df = df.drop(['SpecialParcelClassification','ZIPcode5','TaxRateArea_CITY','TaxRateArea',
              'PropertyUseCode','rowID','GeneralUseType','ZIPcode'], axis = 1)

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

(2053780, 38)

## Calculate distance

In [ ]:
# TO DO: calculate distance to UCLA
ucla = {'lat':34.069444, 'lon':-118.445278}

from geopy.distance import geodesic
def calc_distance_to_ucla(row):
    p1 = (ucla.get('lat'), ucla.get('lon'))
    p2 = (row['CENTER_LAT'], row['CENTER_LON'])
    return geodesic(p1, p2).miles

df['distance_to_ucla'] = df.apply(calc_distance_to_ucla, axis=1)

In [ ]:
# TO DO: calculate distance to USC
usc = {'lat':34.0223519, 'lon':-118.285117}

def calc_distance_to_usc(row):
    p1 = (usc.get('lat'), usc.get('lon'))
    p2 = (row['CENTER_LAT'], row['CENTER_LON'])
    return geodesic(p1, p2).miles

df['distance_to_usc'] = df.apply(calc_distance_to_usc, axis=1)

In [ ]:
# TO DO: create school distrit datasets
df_usc = df[df['distance_to_usc']<3]
df_ucla = df[df['distance_to_ucla']<3]

In [ ]:
df_ucla.to_csv('parcels_ucla.csv')
df_usc.to_csv('parcels_usc.csv')

## Wrangle the school-based data

In [3]:
df_ucla = pd.read_csv('/content/drive/MyDrive/econ445/parcels_ucla.csv', low_memory=False)
zillow_ucla = pd.read_csv('/content/drive/MyDrive/econ445/zillow_ucla.csv', low_memory=False)

In [4]:
df_usc = pd.read_csv('/content/drive/MyDrive/econ445/parcels_usc.csv', low_memory=False)
zillow_usc = pd.read_csv('/content/drive/MyDrive/econ445/zillow_usc.csv', low_memory=False)

In [6]:
#TO DO: filter roll year for proper merge
df_ucla = df_ucla[df_ucla['RollYear']>=2013]
df_usc = df_usc[df_usc['RollYear']>=2013]

In [8]:
zillow_ucla.head()

    zip2  RollYear     ZHVI
0  90017      2021   684000
1  90022      2021   529000
2  90024      2013   908000
3  90024      2014  1080000
4  90024      2015  1100000

In [10]:
#TO DO: merge parcels data and zillow data by zip code and roll year
df_ucla_new = pd.merge(df_ucla, zillow_ucla, on=['zip2','RollYear'])
df_ucla_new = df_ucla_new.drop('Unnamed: 0', axis=1)

In [12]:
df_usc_new = pd.merge(df_usc, zillow_usc, on=['zip2','RollYear'])
df_usc_new = df_usc_new.drop('Unnamed: 0', axis=1)

In [13]:
# TO DO: merge two schools data by row
df = pd.concat([df_ucla_new,df_usc_new], axis=0)

In [15]:
df.head()

        id         AIN  RollYear  ... distance_to_ucla distance_to_usc    ZHVI
0  5886183  5001026010      2020  ...        10.486841        1.971209  521000
1  5898370  5018026017      2020  ...        10.324066        1.517481  521000
2  5900340  5021011018      2020  ...         9.080358        1.652903  600000
3  5911752  5042028005      2020  ...         8.248579        1.577596  767000
4  5914759  5042028006      2020  ...         8.254516        1.571165  767000

[5 rows x 41 columns]

In [19]:
df.to_csv('properties.csv',index=False)

In [16]:
# df_ucla[df_ucla.PropertyLocation.str.find('740 T') != -1]

In [ ]:
X_train = df_ucla[['PropertyType', 'totBuildingDataLines', 'YearBuilt',
       'EffectiveYearBuilt', 'SQFTmain', 'Bedrooms', 'Bathrooms', 'Units',
       'LandValue', 'LandBaseYear', 'ImprovementValue',
       'ImpBaseYear', 'TotalLandImpValue', 'HomeownersExemption',
       'RealEstateExemption', 'FixtureValue', 'FixtureExemption',
       'PersonalPropertyValue', 'PersonalPropertyExemption', 'isTaxableParcel',
       'TotalValue', 'TotalExemption', 'netTaxableValue',
       'AdministrativeRegion',
       'RecordingDateYear', 'zip2','distance_to_ucla',
       'distance_to_usc']]

Y_train = df_ucla['price_sf']